app/tmp/*
app/[Cc]onfig/core.php
app/[Cc]onfig/database.php
app/[Cc]onfig/email.php
app/[Cc]onfig/install

!empty

/lib/Cake/Console/Templates/skel/tmp/
/plugins
/vendors
/build
/dist
/tags

.DS_Store
.idea
